@model MVC5.Models.Device

@{
  ViewBag.Title = "title";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@*header*@
<div class="row">
  <div class="col-sm-4">
    <h2>云比较</h2>

  </div>
  <div>
    <input type="button" class="btn btn-primary pull-right" value="回生命管理选单"
           onclick="location.href='@Url.Action("LifeManageMenu", "Devices", new { id = Model.ID })'" />
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">云比较</div>
  <div class="panel-body">
    <div class="form-inline text-center">
      <input type="button" class="btn btn-success" value="維護頻率" onclick="MaintainFrequency();" />
      <input type="button" class="btn btn-success" value="平均壽命" onclick="AverageAge();" />
      <input type="button" class="btn btn-success" value="更換成本" onclick="Replacefee();" />
      <input type="button" class="btn btn-success" value="報廢代價" onclick="ScrapCost();" />
      <input type="button" class="btn btn-success" value="最優更換年齡" onclick="OptChangeYear();" />
    </div>
    <label class="alert-danger" name="status" id="status"></label>
    <p></p>
    <div class="demo-section k-content wide">
      @(Html.Kendo().Chart()
          .Name("chart")
      )
    </div>
    <p></p>
    <div class="demo-section k-content wide">
      @(Html.Kendo().Chart()
          .Name("chart1")
      )
    </div>
    <p></p>
  </div>
</div>

<script src="@Url.Content("~/Scripts/CloudComparisonApi.js")"></script>

<script type="text/javascript">

  var controllerName = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';
  var id = '@HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString()';

  //開始時，先把資料讀取進來
  $(document)
    .ready(function () {
      GetMaintainFrequency(controllerName, id);
    });

  function MaintainFrequency() {
    GetMaintainFrequency(controllerName, id);
  }

  function AverageAge() {
    GetAverageAge(controllerName, id);
  }

  function Replacefee() {
    GetReplacefee(controllerName, id);
  }

  function OptChangeYear() {
    GetOptChangeYear(controllerName, id);
  }

  function ScrapCost() {
    GetScrapCost(controllerName, id);
  }

</script>
