@using MVC5.Models
@model MVC5.Models.Device


@{
  ViewBag.Title = "title";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


@*header*@
<div class="row">
  <div class="col-sm-4">
    <h2>故障预测</h2>

  </div>
  <div>
    <input type="button" class="btn btn-primary pull-right" value="回生命管理选单"
           onclick="location.href='@Url.Action("LifeManageMenu", "Devices", new { id = Model.ID })'" />
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">数据上传</div>
  <div class="panel-body">
    <img src="~/users/@User.Identity.Name/@Model.ID/@ViewBag.name?@DateTime.Now" alt="degradation.jpg" />

    <ul>
      <li>
        以下功能要求您在设备信息页面上传设备安装年份表
      </li>
    </ul>
    <div class="form-inline text-center">
      <label>预测到</label>
      <select class="form-control" name="Selectyear" id="Selectyear">
        @for (int i = 0; i < 20; ++i)
        {
          <option>@(2017 + i)</option>
        }
      </select>
      <label>
        年以前，您的 @Model.Name 报废数量将为 <label id="number"></label> 台
      </label>
    </div>

    <p></p>
    <input type="button" class="btn btn-success center-block" value="下载详细设备报废率报告"
           onclick="location.href='@Url.Action("DownloadFailureForecast", "Devices", new { id = Model.ID })'" />

  </div>
</div>

<script language="javascript">
  var result = @Html.Raw(Json.Encode(ViewBag.result));

  if (result !== "" && result!== null) {
    $.alert({
      title: '錯誤!',
      content: result
    });
  }
</script>

<script language="javascript">
  $(document).ready(function () {
    $("#Selectyear")
      .change(function () {

        var failureforecast = @Html.Raw(Json.Encode(ViewBag.failureforecast));
        var str = "";
        $("select option:selected").each(function () {
          str += failureforecast[$(this).text()];
        });
        $("#number").text(str);
      })
      .trigger("change");
  });
</script>