@model IEnumerable<MVC5.Models.Device>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>设备列表</h2>

<p>
  @Html.ActionLink("增加设备", "Create")
</p>
<table class="table table-striped table-hover">
  <tr class="info">
    @*    <th>*@
    @*      @Html.DisplayNameFor(model => model.DeviceId)*@
    @*    </th>*@
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Type)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Factory)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Model)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Amount)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.MaintainFrequency)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.ReplaceFee)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.MaxUsedYear)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.DeviceList)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      @*      <td>*@
      @*        @Html.DisplayFor(modelItem => item.DeviceId)*@
      @*      </td>*@
      <td>
        @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Type)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Factory)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Model)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Amount)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Description)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.MaintainFrequency)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.ReplaceFee)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.MaxUsedYear)
      </td>
      <th>
        @Html.DisplayFor(modelItem => item.DeviceList)
      </th>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        <p>
          @Html.ActionLink("生命管理选单", "LifeManageMenu", new { id = item.ID })
        </p>
      </td>
    </tr>
  }

</table>

