@model MVC5.Models.Device

@{
  ViewBag.Title = "LifeManageMenu";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>生命管理选单</h2>

<div>
  <hr />
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>
        @Html.DisplayNameFor(model => model.DeviceId)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.DeviceId)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Name)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Name)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Type)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Type)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Factory)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Factory)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Model)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Model)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Amount)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Amount)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Description)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Description)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.MaintainFrequency)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.MaintainFrequency)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.ReplaceFee)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.ReplaceFee)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.MaxUsedYear)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.MaxUsedYear)
      </dd>
    </dl>
  </div>
  <div class="col-md-3 btn-group-vertical btn-group-md col-md-offset-5">
    <input type="submit" class="btn btn-primary" value="衰老曲线" onclick="location.href='@Url.Action("AgingCurve", "Devices", new { id = Model.ID })'">
    <p></p>
    <input type="submit" class="btn btn-primary" value="故障预测" onclick="location.href='@Url.Action("FaultPrediction", "Devices", new { id = Model.ID })'">
    <p></p>
    <input type="submit" class="btn btn-primary" value="风险挖掘" onclick="location.href='@Url.Action("RiskMining", "Devices", new { id = Model.ID })'">
    <p></p>
    <input type="submit" class="btn btn-primary" value="最优更换年龄" onclick="location.href='@Url.Action("OptReplaceage", "Devices", new { id = Model.ID })'">
    <p></p>
    <input type="submit" class="btn btn-primary" value="长期投资优化" onclick="location.href='@Url.Action("LongtermInvestmentOpt", "Devices", new { id = Model.ID })'">
    <p></p>
    <input type="submit" class="btn btn-primary" value="云比较" onclick="location.href='@Url.Action("CloudComparison", "Devices", new { id = Model.ID })'">
    <p></p>
    <input type="submit" class="btn btn-primary" value="报警决策" onclick="location.href='@Url.Action("AlarmDecision", "Devices", new { id = Model.ID })'">
    <p></p>
  </div>
  <div class="row"></div>
</div>
