@model MVC5.Models.Device

@{
  ViewBag.Title = "title";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@*header*@
<div class="row">
  <div class="col-sm-4">
    <h2>长期投资优化</h2>

  </div>
  <div>
    <input type="button" class="btn btn-primary pull-right" value="回生命管理选单"
           onclick="location.href='@Url.Action("LifeManageMenu", "Devices", new { id = Model.ID })'" />
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">长期投资优化</div>
  <div class="panel-body">
    <p></p>
    @using (Html.BeginForm("LongtermInvestmentOpt", "Devices", FormMethod.Post, new { @class = "form-horizontal" }))
    {
      <div class="form-group ">
        <label class="col-sm-2 control-label">请输入年均最大投资额</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" placeholder="" id="maxamount" name="maxamount" 
                 onkeyup="this.value=this.value.replace(/[^\d]/g,'')"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">固定投资周期</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" placeholder="" id="fixperiod" name="fixperiod"
                 onkeyup="this.value=this.value.replace(/[^\d]/g,'')"/>
        </div>
        <div class="col-sm-5 text-right">
          @Html.Hidden("id", Model.ID)
          <input type="submit" class="btn btn-success minwidth100" value="运行" />
        </div>
      </div>

    }
    <p></p>
    @if (ViewBag.name != null && ViewBag.name != "")
    {
      <img src="~/users/@User.Identity.Name/@Model.ID/@ViewBag.name?@DateTime.Now" alt="montecarloinvest.jpg" />
    }
    <p></p>

    <div class="well well-sm">
      <div class="row">
        <label class="control-label col-sm-3 text-right">最优年均主动投资额为:</label>
        <div class="col-sm-9">
          <label class="k-bold text-success">@ViewBag.result1</label>
        </div>
      </div>

      <div class="row">
        <label class="control-label col-sm-3 text-right">此投资额下的年均被动更换费用为:</label>
        <div class="col-sm-9">
          <label class="k-bold text-success">@ViewBag.result2</label>
        </div>
      </div>

      <div class="row">
        <label class="control-label col-sm-3 text-right">此投资额下的年均总支出为:</label>
        <div class="col-sm-9">
          <label class="k-bold text-success">@ViewBag.result3</label>
        </div>
      </div>

    </div>
  </div>
</div>
